# Git related
.git
.github
.gitignore

# Node.js dependencies
node_modules

# Next.js build output
.next/cache

# Development files
README.md
.env.local
.env.development
.env.test

# OS files
.DS_Store
Thumbs.db
